include view/header.pug

section#s-home(class='container')
    div(class='row align-items-center')
        div(class='col')
            h2#home-title(class='text-center')
            h3#home-desc(class='text-center')

include view/footer.pug